option_settings:
  aws:elasticbeanstalk:application:environment:
    MONGODB_URI: "mongodb://admin:puto1234@172.31.16.64:27017/miBase?authSource=admin"
    PORT: "5000"
  aws:elasticbeanstalk:container:java:
    JVMOptions: "-Xmx512m -Xms256m"
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: "/health"
    Port: "5000"
    Protocol: "HTTP"
